@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Staatliches&display=swap');

body {
    background-color: hsl(217, 54%, 11%);
}

.preview-card-body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position: relative;
    top: 150px;
}

.preview-card-photo {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 550px;
    border-radius: 12px;
}

.preview-card-main-image {
    width: 300px;
    height: 280px;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    top: 10px;
}

.preview-card-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
}

.preview-card-description {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 18px;

}

.size-amount-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-size: 11px;
    font-weight: 600;
    display: inline;
    float: left;
}

.horizontal-line {
    height: 2px;
    width: 290px;
    border-width:0;
    color:gray;
    background-color:hsl(215, 32%, 27%);
    position: relative;
    top: 20px;
}

.time-frame-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 11px;
    font-weight: 600;
    display: inline;
    float: left;
}

.preview-card-avatar{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 20px;
    float: left;
}

.preview-card-svg1, .preview-card-svg2{
    float: left;
}

.preview-card-3days-text{
    float: right;
}

.preview-card-size-text {
    float: left;
}

.preview-card-creator-text {
    display: inline;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 11px;
    font-weight: 400;
    float: left;
}

.preview-card-creator-blue-text{
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-size: 11px;
}
.preview-card-bottom-text {
    position: absolute;
    top: 500px;
    
}